!!!5
%head
  %title Mini Music Player

  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
  %script{:src => "js/mediaelement-and-player.min.js"}
  %link{:href => "css/style.css", :rel => "stylesheet"}
  %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet", :type => "text/css"}
  %script{:src => "js/toggle.js"}

%body
  .audio-player.l-centered
    .audio__track-info.l-overlay
      %h1.track-info__track-title New Fang
      %h2.track-info__track-artist.l-inline Them Crooked Vultures
      %h2.track-info__dash.l-inline -
      %h2.track-info__track-album.l-inline Them Crooked Vultures
    %img.audio__ablum-cover{:src => "cover.png", :alt => "cover"}
    .audio__controls
      %audio{:id => "audio-player", :src => "New_Fang.mp3", :type => "audio/mp3", :controls => "controls"}
      .controls__next-button
        %button
      .controls__prev-button
        %button
      .toggle__fav-button
        %button
      .toggle__repeat-button
        %button
      .toggle__shuffle-button
        %button
  
  :javascript
    $(document).ready(function() {
        $('#audio-player').mediaelementplayer({
            alwaysShowControls: true,
            features: ['playpause','volume','progress'],
            audioVolume: 'horizontal',
            audioWidth: 300,
            audioHeight: 300
        });
    });